@import '~bootstrap/scss/bootstrap';

#des_input {
    height: 80px;
    width:400px;
}

#content {
    display: flex;
    flex-direction: row;
}

.container {
    margin: 10px;
}

body{
    background-color: beige;
    align-items: center;
}

#title {
    margin: auto;
    width: 300px;
}

#welcome {
    width: 500px;
    margin: auto;
    text-align:center;
}

#account_logo{
    position: absolute;
    right: 15px;
    top: 15px;
}